<div class="head">

<div class="brain">

<div class="eye1">
    <img src="../../assets/eye.png" alt="">
</div>
<div class="eye2">
    <img draggable="false" src="https://www.dafont.com/forum/attach/orig/8/1/815933.png?1" alt="">
 
<form action="" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="input-fields">
        <input formControlName="email"   type="text" placeholder="Phone number, username, or email">
        <input formControlName="password" type="password" placeholder="Password">
        <button>Log in</button>
    </div>
</form>
    <p style="font-size: 12px; color: #737373;">OR</p>
    <div class="fb">
        <a href=""><img src="https://i.pinimg.com/originals/30/99/af/3099aff4115ee20f43e3cdad04f59c48.png" alt=""></a>
        <p><a href=""> &nbsp; Login in with facebook</a></p>
    </div>
    <p class="fg-pass" style="color: #00376B; font-size: 12px;">Forget Password?</p>
    <div class="signup">
        <p>Don't have account? <a routerLink="signup"><span>Sign up</span></a></p>
        <p>Get the app.</p>
        <div class="bottom">
  <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="">
  <img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt="">
        </div>
    </div>
</div>

</div>


<footer>
    <div class="insider">
        <ul>
            <li><a href="">Meta</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">API</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Locations</a></li>
            <li><a href="">Instagram Lite</a></li>
            <li><a href="">Threads</a></li>
            <li><a href="">Contact Uploading & Non-User</a></li>
            <li><a href="">Meta Verfied</a></li>
        </ul>

        <div class="bott">
            <ul>
                <li><a href="">English</a></li>
                <li><a href="">c 2023 Instagram from Meta</a></li>
            </ul>
        </div>
    </div>
</footer>

</div>
