#card
{
    height: 520px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #000;
    overflow: hidden;
    position: relative;

}
#storiyan{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 5px;
    border-radius: 9px 9px 0 0px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}
#storiyan::-webkit-scrollbar{
    display: none;
}
#story{
    border: 4px solid red;
 height: 90px;
 border-radius: 50%;
 width: 90px;
 overflow: hidden;
 display: inline-block;
}
#story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: none;
}