.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body
{
    margin-top: 15px;
    width: 330px;
    height: 622px;
    padding: 2vw;
   border: 1px solid #dadada;
}
.img img{
 width: 180px;
 margin-top: 45px ;
 margin-left: 65px;
}
.body p{
    color: #737373;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}
.body button{
   height: 36px;
    width: 250px;
    background-color: #0095F6; /* #1877F2 for hover*/
    color: #fff;
    font-size: 15px;
     border: none;
     border-radius: 10px;
     margin-top: 15px;
     margin-bottom: 15px;
}
.input-ff {
    display: flex;
    flex-direction: column;
    
}
.input-ff input{
    height: 35px;
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #DBDBDB;
    font-size: 12px;
}