<div class="main">

    <div class="leftt">
        <img draggable="false" src="https://www.dafont.com/forum/attach/orig/8/1/815933.png?1" alt="">

        <div class="links">

            <div class="inn">
                <img src="../../assets/home.png" alt="">
                <p>Home</p>
            </div>
            <div class="inn">
                <img src="../../assets/search.png" alt="">
                <p><a href="search">Search</a></p>
            </div>
            <div class="inn">
                <img src="../../assets/compass.png" alt="">
                <p>Explore</p>
            </div>
            <div class="inn">
                <img src="../../assets/video.png" alt="">
                <p>Reels</p>
            </div>
            <div class="inn">
                <img src="../../assets/messenger.png" alt="">
                <p>Messages</p>
            </div>
            <div class="inn">
                <img src="../../assets/heart.png" alt="">
                <p>Notifications</p>
            </div>
            <div class="inn">
                <img src="../../assets/tab.png" alt="">
                <p>Create</p>
            </div>
            <div class="inn">
                <img src="../../assets/home.png" alt="">
                <p>Profile</p>
            </div>

        </div>
    </div>

    <div class="middlee">

        <div class="storyia">
            <div class="story">
                <div class="proff">
                    <img src="https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
                </div>
            </div>
            <div class="story">
                <div class="proff">
                   <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" alt=""></div>
            </div>
            <div class="story">
                <div class="proff">
                <img src="https://images.unsplash.com/photo-1550246141-363ccad4018d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt=""> </div>
            </div>
            <div class="story">
                <div class="proff">
                   <img src="https://plus.unsplash.com/premium_photo-1669703777695-f8052a432411?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">  </div>
            </div>
            <div class="story">
                <div class="proff">
                  <img src="https://images.unsplash.com/photo-1490551632573-78c6c247f5d3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt=""> </div>
            </div>
            <div class="story">
                <div class="proff">
                <img src="https://images.unsplash.com/photo-1586057708056-6149710c46cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt=""> </div>
            </div>
            <div class="story">
                <div class="proff">
                <img src="https://images.unsplash.com/photo-1486621312635-4f73b739befc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt=""></div>
            </div>
            <div class="story">
                <div class="proff">
                <img src="https://images.unsplash.com/photo-1593757147298-e064ed1419e5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt=""> </div>
            </div>
            <div class="story">
                <div class="proff">
                    <img src="https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="up">
                <img src="https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                    alt="">
                <p>Trailuser</p> &nbsp;&nbsp;
                <p>Los Angles</p>
            </div>
            <div class="main-img">
                <img src="https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                    alt="">
                    <div class="itmes">
                   <div class="heroo">
                    <img src="../../assets/heart.png" alt="">
                    <img src="../../assets/chat-bubble.png" alt="">
                    <img src="../../assets/send.png" alt=""> 
                   </div> 
                    
                 <div class="save">
                    <img src="../../assets/save.png" alt="">
                 </div>         
                </div>

            </div>
        </div>

    </div>

    <div class="rightt">

        <div class="pr">
            <div class="up">
                <img src="https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
                <p>Trailuser</p> &nbsp;&nbsp;
                
        
            </div>
    
        </div>
    
    
    

    </div>

</div>