<div class="main">
    <div class="sidenav">

        <div class="box">
            <img class="logo" draggable="false" src="https://www.dafont.com/forum/attach/orig/8/1/815933.png?1" alt="">
        </div>

        <div class="box2">
            <a href="home">
                <div class="link"><img src="../../assets/home.png" alt=""><span>Home</span></div>
            </a>
            <a href="">
                <div class="link"><img src="../../assets/search.png" alt=""><span>Search</span></div>
            </a>
            <a href="">
                <div class="link"><img src="../../assets/compass.png" alt=""><span>Explore</span></div>
            </a>
            <a href="">
                <div class="link"><img src="../../assets/video.png" alt=""><span>Reels</span></div>
            </a>
            <a href="">
                <div class="link"><img src="../../assets/messenger.png" alt=""><span>Messages</span></div>
            </a>
            <a href="">
                <div class="link"><img src="../../assets/heart.png" alt=""><span>Notifications</span></div>
            </a>
            <a href="">
                <div class="link"><img src="../../assets/tab.png" alt=""><span>Create</span></div>
            </a>
            <a href="profile">
                <div class="link"><img src="../../assets/send.png" alt=""><span>Profile</span></div>
            </a>
        </div>
    </div>
</div>
